

/* #region heder */

/* #endregion heder */


/* #region hero */

/* #endregion hero */


/* #region features */

/* #endregion features */

/* #region team */



.social-networks {
	justify-content: center;
}






/* #endregion team */

/* #region portfolio */

.portfolio-list {
	/* display: flex;
	flex-wrap: wrap;
	row-gap: 48px; */
	column-gap: 24px;
}



/* #endregion portfolio */

/* #region footer */


/* #endregion footer */

/* #region modal */

/* #endregion modal */